<h3>{{model.name}}</h3>

Total pets: {{model.pets.length}}
<br>

<h4>My Company</h4>
{{model.company.name}}

<h4>My Pets</h4>

<h4>Home</h4>

{{model.home.location}}

{{#each model.pets as |pet|}}
  <p>{{pet.name}} - Age: {{pet.age}}</p>
{{/each}}
